@model Package
<div class="text-center">
    <h1 class="display-4">Voeg het pakket toe</h1>
</div>
<div>
    <form asp-action="AddPAckage" method="post">

        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name">Naam</label>
            <input asp-for="Name" />
        </div>
        <div>
            <label asp-for="Price">Prijs</label>
            <input asp-for="Price" />
        </div>
        <div>
            <label asp-for="Canteen">Kantine</label>
            <input asp-for="Canteen" />
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addProductToPackage" data-url="@Url.Action("AddProducts")">Voeg product toe</button>
        </div>
        

        <button class="btn btn-primary" type="button">Voeg pakket toe</button>
    </form>
</div>
