@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Product
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>

<body>
    <div>
        <h1 class="display-4">Voeg hier een nieuw product toe</h1>
    </div>
    <form asp-action="AddProduct" method="post">

        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Alcohol">Bevat het product alcohol</label>
            Ja<input type="radio" asp-for="Alcohol" value="true" />
            Nee<input type="radio" asp-for="Alcohol" value="false" />
        </div>
        
        <button class="btn btn-primary" type="button" >Voeg product toe</button>
    </form>

</body>