@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Product>
<div>
    <h1 class="display-4">Welcome</h1>
    <button type="button" onclick="location.href='@Url.Action("AddProduct")'">Nieuw Product</button>
</div>
<div>
    <table cellpadding="5" cellspacing="0">
        <tr>
            <th>Naam</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td><a asp-action="EditProduct" asp-route-id="@item.ProductId">Edit</a></td>
                <td><a asp-action="ProductDeleted" asp-route-id="@item.ProductId">Delete</a></td>
            </tr>
        }
    </table>
</div>