@model LoginViewModel
<div>
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Login" method="post">
        
        <div>
            <label asp-for="Username"></label>
            <input asp-for="Username" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
        @*TODO: remove TypeOfUser field here. It is only needed for registration form *@
        <input type="hidden" asp-for="TypeOfUser" value="nope" />
        <button type="submit">Login</button>
    </form>
</div>